{
    "parser": "babel-eslint",
    "extends": "airbnb",
    "env": {
        "browser": true
    },
    "rules": {
        // Use indents with 4 spaces
        "indent": ["error", 4, {"SwitchCase": 1}],
        "react/jsx-indent": ["error", 4],
        "react/jsx-indent-props": ["error", 4],

        // Max line length should be 120 characters
        "max-len": ["error", 120],

        // Allow for-of statement
        // Copied from https://github.com/airbnb/javascript/blob/master/packages/eslint-config-airbnb-base/rules/style.js#L257
        "no-restricted-syntax": ["error", "ForInStatement", "LabeledStatement", "WithStatement"],

        // Allow import of packages in devDependencies for tests
        "import/no-extraneous-dependencies": [
            "error", {
                "devDependencies": ["js/tests/**/**"],
                "optionalDependencies": false
            }
        ]
    }
}
