{% raw %}{% load js_reverse %}
{% load staticfiles %}
{% load render_bundle from webpack_loader %}
{% load accounts %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endraw %}{{ cookiecutter.project_title }}{% raw %}{% endblock title %}</title>

    <script type="text/javascript" charset="utf-8">
        var DJ_CONST = {
            USER: {% js_user request.user %}
        };
        {% js_reverse_inline %}
    </script>

    {% render_bundle 'bootstrap' 'css' %}
    {% render_bundle 'styles' 'css' %}
    {% block css %}{% endblock css %}

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body class="{% block body_classes %}{% endblock %}">
    <div id="navigationbar">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
            <div class="container">
                <a href="#" class="navbar-brand">{% endraw %}{{ cookiecutter.project_title }}{% raw %}</a>
            </div>
        </nav>
    </div>

    {% block content %}{% endblock content %}

    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
    {% render_bundle 'main' 'js' %}
    <script>
        {% endraw %}{{ cookiecutter.repo_name }}{% raw %}.initApp('navigationbar');
    </script>
    {% block scripts %}{% endblock scripts %}
  </body>
</html>
{% endraw %}
