{% raw %}{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <div class="container">
        <div class="jumbotron mt-5">
            <h1 class="display-3">{% trans "Oops.." %}</h1>
            <hr class="my-4">
            <p class="lead">{% block error_title %}{% endblock error_title %}</p>
            <p>{% block error_msg %}{% endblock error_msg %}</p>
            <a href="#" onclick="window.history.back();" class="btn btn-primary mt-4">{% trans "Go back" %}</a>
        </div>
    </div>
{% endblock content %}
{% endraw %}
