

.container-error {
    display: table;
    min-height: 100vh;

    .container-error--cell {
        display: table-cell;
        vertical-align: middle;
    }

    .container-error--action {
        margin-top: 50px;
    }
}
